<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=no">
<title>BY Dan Wahlin</title>
<link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.min.css" />
</head>

<body ng-app>
<div class="container">
	<h2 class="text-center">BY VIDEO BY Dan Wahlin</h2>
	<label>
	input a Name: 
	<input type="text" ng-model="name" class="form-control" /></label>
	<p class="text-info">{{ name }}</p>

	<hr />

	<div class="well" ng-init="girls=['zy', 'cc', 'qq', 'wyn']">
		<h3>here are the grils</h3>
		<ul>
			<li ng-repeat="name in girls">
			{{ name }}
			</li>
		</ul>
	</div>

	<hr />

	<h3>here are the boys</h3>
	<table class="table table-striped table-hover"
	ng-init="boys=['fhc', 'wm', 'cl', 'ylh']">
		<tr ng-repeat="name in boys | orderBy: 'name'">
			<td>{{ name | uppercase}}</td>
		</tr>
	</table>
	
	<hr />

	<h3>更酷炫的操作json，可以设置一个select来筛选数据哦</h3>
	<label>input a filter:	<input type="text" ng-model="bossName" class="form-control" /></label> 
	<div class="well" ng-controller="ccCtrl">
		<ul>
			<li ng-repeat="people in BOSS | filter: bossName | orderBy: city ">{{ people.name | uppercase }} - {{ people.city }}</li>
		</ul>
	</div>
</div>
<script src="angular.min.js"></script>
<script type="text/javascript">
'use strict'

function ccCtrl($scope){
	$scope.BOSS = [
		{name: 'zhangtao', city: 'hangzhou'}, 
		{name: 'zqq', city: 'ningbo'}, 
		{name: 'cjy', city: 'hongkong'}
	]
}

</script>

</body>
</html>
